<form action="/random/results">
  <div>
    <label for="min">Minimum</label>
    <input type="text" id="min" placeholder="E.g. 1.5" name="minimum">
  </div>

  <div>
    <label for="max">Maximum</label>
    <input type="text" id="max" placeholder="E.g. 4.5" name="maximum">
  </div>

  <button>Pick random number</button>
</form>
