<form action="/">
  <label for="square">Enter a number</label>

  <div>
    <input type="text" id="square" placeholder="What number do you want to square?">
  </div>

  <button>Calculate square</button>
</form>
